# @todo (farley.knight@gmail.com): Generate this file using questions at the console:
#
# What is your name?:
#
# What is your email address?
#
# etc, etc, etc.
#
# After asking all questions, immediately deploy to Heroku

# Your info
Ryte.config.personal = {
  full_name:   "[YOUR FULL NAME]",
  email:       "[YOUR FULL EMAIL]",
  description: "[YOUR PERSONAL DESCRIPTION (html okay)]"
}

# Wordpress
Ryte.config.wordpress = {
  # url: "[YOUR WORDPRESS SITE]"
}

# Twitter
Ryte.config.twitter = {
  # username: "[YOUR TWITTER USERNAME]"
}

# Github
Ryte.config.github = {
  # username: "[YOUR GITHUB USERNAME]"
}

# Facebook
Ryte.config.facebook = {

}

# Bitbucket
Ryte.config.bitbucket = {

}

# Dribbble
Ryte.config.dribbble = {

}

# Instagram
Ryte.config.instagram = {

}

# lastfm
Ryte.config.lastfm = {

}

# foursquare
Ryte.config.foursquare = {

}

# StackOverflow
Ryte.config.stackoverflow = {

}

# Tumblr
Ryte.config.tumblr = {
  api_url: "",
  api_key: ""
}

# RSS Feed
Ryte.config.rss_feed = {
  url: ""
}

# Sharethis
Ryte.config.sharethis = {
  facebook: true,
  twitter: true,
  linkedin: true,
  google_plus: true,
  sharethis: true,
  email: true
}

# Soundcloud
Ryte.config.soundcloud = {

}

# Steam
Ryte.config.steam = {

}
